.App {
  display: flex;
  flex-direction: row;
  background-color: #c5cae9;
  height: 100vh;
}

#graphDataWrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  border-right: 2px solid grey;
}

#graphData{
  border-bottom: 1px solid grey;
  flex: 1;
}

#paths{
  margin-top: auto;
  height: 300px;
}

#graph {
  flex: 1;
}
